.a, .b, .c {
    height: 100vh;
    width: 33%; /* Dejamos el ancho de esta columna igual */
    overflow: auto; /* Esto agrega una barra de desplazamiento en caso de que el contenido sea demasiado largo */
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    width: 85%;
}
.img {
    width: 65%;
    border-radius: 80%;
}
.a, .c {
    background-color: aqua;
}
.b {
    background-color: beige;
}
a { 
    text-decoration: none;
}

@media screen and (max-width: 1025px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .a, .b, .c {
        width: 100vw;
        height: auto;
        display: flex;
        overflow: visible;
        flex-direction: column;
        align-items: center;
    }
    p{
        width: 50vw;
    }
    .img {
        width: 25%;
    }
}